#login {
  width: 100wh;
  height: 100vh;
  margin-left: -300px;
  background: linear-gradient(50deg, #2691d9, #140f14);
  overflow: hidden;
  .form {
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;

    h1 {
      font-size: 32px;
      font-weight: 500;
      line-height: 42px;
      text-align: center;
    }
    &* {
      font-family: "Poppins", sans-serif;
      color: #ffffff;
      letter-spacing: 0.5px;
      outline: none;
      border: none;
    }
    label {
      display: block;
      margin-top: 15px;
      font-size: 16px;
      font-weight: 500;
    }
    input {
      display: block;
      height: 50px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.07);
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 300;
      border: none;
      &:focus {
        outline: #080710;
      }
    }
    ::placeholder {
      color: #e5e5e5;
    }
    button {
      margin-top: 20px;
      width: 100%;
      background-color: #2691d9;
      color: #080710;
      padding: 12px 0;
      font-size: 15px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
      border: none;
      transition: 0.3s;
      &:hover {
        color: rgb(8, 7, 16, 0.8);
        background-color: rgb(38, 145, 217, 0.8);
      }
    }
  }
}

.form {
  @media (min-width: 400px) {
    height: 450px !important;
    width: 400px !important;
    padding: 30px !important;
    button {
      margin-top: 50px !important; 
      padding: 15px 0 !important;
      font-size: 18px !important;
    }
    label {
      margin-top: 30px !important;
    }
  }
}
